# Ignore Gradle project files 
.gradle
gradle
.settings
.classpath
.project
.idea
gradlew
gradlew.bat
settings.gradle

# Ignore build output directory
build
bin

# Ignore Vscode Data 
.Vscode

# Ignore Logs
*.log