#window {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}
#windowContent {
    background-color: #fefefe;
    margin: auto;
    border: solid lightgrey;
    width: 80%;
    height: 90%;
    border-radius: 8px;
}
#lodedWindowContent {
    padding: 20px;
}
#close {
    color: gray;
    float: right;
    size: 25px;
    font-size: 25px;
    border: none;
    background-color: transparent;
}
#navtext {
    color: white;
    font-size: 30px;
}
#Nameform {
    width: 50%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#mainboard {
    padding: 0px;
    margin: 0 auto;
}

#mainboard tr td {
    width: 45px;
    height: 45px;
    border: 1px solid #1c1c1c;
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
}
#schiffe {
    padding: 0px;
    margin: 0 auto;
}

#schiffe tr td {
    width: 35px;
    height: 20px;
    border: 1px solid #1c1c1c;
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
}
#enemyboard {
    padding: 0px;
    margin: 0 auto;
}

#enemyboard tr td {
    width: 26px;
    height: 26px;
    border: 1px solid #1c1c1c;
    font-family: Helvetica;
    font-size: 30px;
    text-align: center;
}



#mainboard tr td:hover {
    background: #e4e4e4;
    cursor: pointer;
}